* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: monospace;
}

body {
  color: #eee;
  background: linear-gradient(
    to bottom,
    #121212,
    #323232
  );
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.main > * {
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: var(--border-radius);
}
